@{
    ViewData["Title"] = "Categories";
}
@model List<Category>


<h2>Product Categories</h2>

@if (User.IsInRole("Admin"))
{
    <a asp-action="Add" asp-controller="Category" class="btn btn-success mb-3">Add New Category</a>
}

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Category Name</th>
        </tr>
    </thead>

    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var category in Model)
            {
                <tr>
                    <td>@category.CategoryId</td>
                    <td>@category.CategoryName</td>
                    <td>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-controller="Category"  asp-action="Edit" asp-route-id="@category.CategoryId" class="btn btn-outline-warning btn-sm">Edit</a>
                            <a asp-controller="Category" asp-action="Delete" asp-route-id="@category.CategoryId" class="btn btn-outline-danger btn-sm">Delete</a>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" class="text-center">No categories found</td>
            </tr>
        }
    </tbody>
</table>