@model Product


<div class="card p-3 product-description">
    @if (!string.IsNullOrEmpty(Model.ImageUrl))
{
    <img src="@Model.ImageUrl" class="img-fluid rounded mb-3" alt="@Model.ProductName">
}
    <h3 class="mb-2">@Model.ProductName</h3>

    <p class="text-muted">
        Short and clear product summary goes here. Highlight key benefits.
    </p>

    <ul>
        <li>High durability material</li>
        <li>Modern and sleek design</li>
        <li>Affordable pricing</li>
        <li>1-year warranty included</li>
    </ul>

    <p class="mt-2">
        Ideal for everyday use and built with customer satisfaction in mind.
    </p
    <p><strong>Price:</strong> $@Model.Price</p>
    <p class="text-danger fw-bold">
        Only @Model.StockQuantity left in stock!
    </p>

</div>